body { margin:0; padding:0;}
#map { position:absolute; top:0; bottom:0; width:100%; }
#info_box {
    font-family: monospace, sans-serif; 
    position:absolute;
    top:0;
    right:0;
    padding: 10px;
    background-color:
    #fff; opacity: 0.5;
}
#note_box {
    font-family: monospace, sans-serif;
    margin-top: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    background-color: #E9FBE9;
    color: gray;
}